<launch>
  <!-- Launch file for velodyne16 VLP-16 LiDAR -->

    <arg name="rviz" default="true" />
    <arg name="autorun" default="false"/>

    <rosparam command="load" file="$(find fast_lio)/config/nclt.yaml" />

	<node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen"  >

	</node>

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" />
    </group>

    
    <include file="$(find fast_lio)/launch/map_loader.launch" />

    <!-- <node pkg="tf" type="static_transform_publisher" name="w2base" args="0 0 0 0 -3.14 0 world camera_init 1000" />-->

launch-prefix="gdb -ex run --args"

</launch>
